* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: linear-gradient(45deg, white,black);
    height: 100vh;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora {
    position:absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

.botao {
    width: 50px;
    height: 50px;
    font-size:30px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;
}

.botao:hover {
    background-color: black;
}

#resultado {
    background-color: #fff;
    width: 215px;
    height: 50px;
    margin: 5px;
    font-size: 25px;
    color: #000;
    text-align: right;
    padding: 5px;
    overflow-y: hidden;
    overflow-x: auto ;
}

::-webkit-scrollbar{
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: crimson;
}

::-webkit-scrollbar-thumb:hover {
    background-color: cyan;
}