* {
    margin:0;
    padding:0;
        }
        .fundo{
            background-image: linear-gradient(45deg, white,black);
            height: 100vh;
            color: grey;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
        .Calculadora{
    position:absolute;
    background-color: black;
    background-color: rgba(0,0,0,1);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:15px;
    padding:15px;
    }
    .botao{
        width:50px;
        height:50px;
        font-size:30px;
        cursor:pointer;
        margin:3px;
    background-color: rgb(31, 31, 31);
    border:none;
    color: #fff;
        }
        .botao:hover{
            background-color: black;
        }
        #resultado {
          background-color: white;
            width: 215px;
            height:50px;
            margin:5px;
            font-size: 25px;
            color: black;
            text-align:right;
            padding:5px;
            overflow-x: auto;
            overflow-y: hidden;
        }
        ::-webkit-scrollbar{
        height: 4px;
        }
        ::-webkit-scrollbar-track{
            background-color: gray;
        }
        ::-webkit-scrollbar-thumb{
            background-color: crimson;
        }
        ::-webkit-scrollbar-thumb:hover{
            background-color: cyan;
        }